@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

html{
    scroll-behavior: smooth;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ebeef0;;
    overflow-x: hidden;
}

#menu-icon{
    padding: 25px;
    margin: auto 0;
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
}

.open{
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('img/fundo-menu.png');
    background-repeat: no-repeat;
    background-size: 200% 60%;
    background-color: rgb(0, 99, 0);
    width: 50vw;
    height: 1000vw;
    transition: background-color 0.2s, width 0.2s;
}

#menu-icon .bar1, #menu-icon .bar2, #menu-icon .bar3{
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 25px;
}

.open .mobile-menu{
    display: block;
}

.open .mobile-menu .headertext{
    display: flex;
    font-weight: 800;
    font-size: medium;
}

.open .mobile-menu .headertext:hover{
    transform: scale(1.1);
    transition: 0.3s;   
}

.mobile-menu .headertext{
    display: none;
}

@media only screen and (max-width: 960px) {
    header .menu .links {
        display: none;
    }

    header .menu .fodder {
        display: none;
    }

    #menu-icon{
        display: block;
    }

} 

@media only screen and (min-width: 1200px) {
    body{
        font-size: 22px;
    }
}

.back {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url('img/fundo.png');
    background-size: cover;
    background-color: rgb(35, 100, 35);
    z-index: -4;
    box-shadow: -5px 20px 60px rgb(82, 82, 82);
}

.back-div {
    z-index: -2;
    position: absolute;
    height: 100vh;
    width: 75vw;
    left: -20%;
    background-color: #333;
    -webkit-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    transform: skew(-15deg);
    box-shadow: 0px -8px 70px rgb(0, 0, 0);
}

.frase {
    display: block;
    font-size: 1.2em !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-style: italic;
    line-height: 1.5;
    margin-top: 20px;
    margin: 0 0 20px 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

@media only screen and (max-width: 960px){
    .back-div {
        position: absolute;
        height: 105vh;
        width: 100vw;
        left: 0%;
        background-color: #333;
        -webkit-transform: skew(0deg);
        -ms-transform: skew(0deg);
        transform: skew(0deg);
        box-shadow: 0px 0px 0px rgb(0, 0, 0);
    }
} 

.logo, .logo1{
    width: 112px;
    height: 112px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.frase, .linha {
    text-align:center;
    color: whitesmoke;
}

@media only screen and (max-width: 1100px){
    .frase{
        font-size: 1.20em !important;
    }
}

.frase1{
    display: none;
}

@media only screen and (min-width: 960px){
    
    .logo{
        position: absolute;
        width: 8.8%;
        height: auto;
        display: block;
        position: absolute;
        filter: drop-shadow(0px 10px 10px rgb(34, 34, 34));
        left: 20.4%;
        top: 27%;
    }

    .linha{
        display: none;
    }

    .frase-break{
        position: absolute;
        top: 33%;
        left: 48%;
        right: 0%;
    }

    .frase{
        display: none;
    }

    .frase1 {
        color: whitesmoke;
        display: block;
        text-align: right;
        font-size: 1.54em !important;
        font-family: 'Quicksand', sans-serif;
        font-weight: 900;
        font-style: italic;
        line-height: 1.3;
        margin-top: 0px;
        margin: 0 0 00px 0;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 35px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headertext {
    color: #ffffff;
    font-weight: 750;
    text-transform: uppercase;
    font-size: .875rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-decoration: none;
    text-align: center;
}

.usa .headertext{
    text-shadow: 0px 1px 8px #222;
}

.logo-header{
    width: 50px;
    height: 50px;
    margin: 16px;
    filter: drop-shadow(0px 0px 5px #222);
}

.fodder{
    height: 12px;
}

.fodder1{
    width: 3%;
    height: 40px;
}
  
header:before {

    background-size:800px;
    background-repeat: no-repeat;
    bottom: 0;
    content:"";
    filter: brightness(70%) blur(3px);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;   
}
  
.menu {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('img/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 99, 0);
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 5;
    color: white;
    display: flex;
    justify-content: space-around;
}

.menu background-image{
    filter: brightness(70%);
}
  
.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu li {
    list-style: none;
    
}

.usa:hover,  .logo-header:hover{
    transform: scale(1.1);
    transition: 0.3s;   
    cursor: pointer; 
}

.links{
    display: flex;
    justify-content: center;
}

.menu a {
    display: block;
    padding: 10px;
}


  
.linha {
    background-color: rgb(196, 196, 196);
    width: 90%;
    height: 0.1px;
    margin-left: auto;
    margin-right: auto;
}

.linha1 {
    background-color: rgb(195, 195, 195);
    width: 100%;
    height: 0.1px;
}

.video{
    display: block;
    padding: 20px;
    transform: translate(5.5%, 0);
    width: 90%;
    height: 50,83%;
    border-radius: 50px;
}

.hospitais{
    background-color :white;
    padding: 2em;
    min-height: 70vh;
}

.contato, .equipe, .areas, .contato{
    padding: 2em;
    min-height: 100vh;
}

.equipe h2, .contato h2, .areas h2{
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
}


.hospitais h2{
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    color: #333 !important;
    text-align: center!important;
}

.equipe h2{
    color: #333 !important;
}

.equipe h2, .areas h2{
    text-align: center!important;
}

.areas h2{
    color: white !important;
}

.equipe h1, .hospitais h1, .contato h1, .areas h1, .form p, .rodape{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    
}

.hospitais h1, .equipe h1, .contato h1, .areas h1{
    text-transform: uppercase;
    font-weight: lighter !important;
    margin-top: 0px !important;
    font-size: .875rem;
    line-height: 1.4;
}

.hospitais h1, .equipe h1{
    color: #999;
    text-align: center!important;
    
}

.contato h1{
    color: #999;
}

.areas h1{
    color: rgb(255, 255, 255);
    text-align: center!important;
}

.form p, .rodape{
    margin-left: 0;
    font-weight: 400;
    line-height: 1.5;
}

.form p{
    text-align: left!important;
    font-size: 16px;
    color: #666;
}

.rodape{
    text-align: center;
    font-size: 14px;
    color: rgb(144, 144, 144);
}

.equipe .grid, .equipe .grid1, .areas .grid, .areas .grid1{
    display: grid;
    gap: 2em;
    grid-template-columns: 270px;
    justify-content: center;
}

.equipe figure, .areas figure {
    text-align: center;
}

@media only screen and (min-width: 960px) {
    .equipe .grid {
        grid-template-columns: repeat(3,270px);
    }

    .areas .grid {
        grid-template-columns: repeat(2,400px);
        justify-content: center;
    }

    .video{
        position: absolute;
        left: 2.5%;
        top: 51%;
        width: 40%;
        height: auto;
    }
}

@media only screen and (min-width: 1300px) {
    .equipe .grid{
        grid-template-columns: repeat(5,220px);
        justify-content: center;
        align-self: center;
        justify-self: center;
    }

    .equipe .grid1{
        grid-template-columns: repeat(3,220px);
        justify-content: center;
        align-self: center;
        justify-self: center;
    }

    .areas .grid {
        grid-template-columns: repeat(5,220px);
        justify-content: center;
    }

    .areas .grid1{
        grid-template-columns: repeat(3,220px);
        justify-content: center;
        align-self: center;
        justify-self: center;
    }
}

.img-portfolio1 {
    width: 350px;
    height: auto;
    object-fit:cover;
    cursor: pointer;
}

.img-portfolio2 {
    width: 300px;
    height: auto;
    object-fit:cover;
    cursor: pointer;
}

.img-portfolio {
    width: 220px;
    height: 300px;
    object-fit:cover;
    cursor: pointer;
}

.un, .una{
    cursor: pointer;
    display: inline-block;
    font-weight: bold;text-transform: uppercase;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

}

.un {
    color: #4e8e3a !important; 
    font-size: .875rem;
}

.una {
    color: #ffffff !important;
    font-size: 1.0rem;
}

.un::after, .una::after{
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    transition: 300ms;
}
  
.un::after {
    background: #4e8e3a;
}

.una::after {
    background: #ffffff;
}

.equipes{
    display: flex;
    position: fixed;
    z-index: 5;
    border-radius: 50px;
    height: 85vh;
    width: 92vw;
    background-color: white;
    margin: 0 auto;
    transition: top 500ms;
}

.equipe-img{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.areas-img{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img-btn{
    margin: 15px;
    margin-left: 30px;
    width: 30px;
    height: auto;
    filter: invert(46%) sepia(25%) saturate(1088%) hue-rotate(61deg) brightness(99%) contrast(82%);
}

.img-btn:hover{
    cursor: pointer;
}

.img-areas2, .img-pagina {
    margin-left: 15px;
    width: 90%;
    height: 130%;
    padding: 15px;
    object-fit:cover;
}

.obs{
    display: none;
}

.areas-btn{
    position: relative;
    bottom: -200px;
    right: -300px;
    color: white;
    background-color:#4e8e3a;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1.1em;
    width: 300px;
    padding: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
}

.equipe-folder, .areas-folder{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.equipes p, .equipes h1,.equipe .equipes h2{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    text-align: left!important;
}

.equipes p{
    font-size: 0.84em;
    font-weight: 400;
    line-height: 1.5;
    color: #666666 !important;
}

.equipe .equipes h1{
    font-weight: bolder;
    margin-top: 0px !important;
    font-size: 30px;
    line-height: 1.4;
    color: black !important;
}

.equipe .equipes h2{
    margin-left: 27px;
    font-weight: lighter;
    margin-top: 0px !important;
    font-size: 20px;
    line-height: 1.4;
    color: #666666 !important;
}
  
.un:hover::after, .una:hover::after {
    width: 100%;
}

.areas{
    width: 100vw;
    background-image: url("img/fundo_areas.png");
    object-fit: fit;
    background-color: #4e8e3a;
}

@media only screen and (orientation: landscape){
    .areas{
        position: relative;
        left: -2%;
        width: 101vw;
    }
    .ban{
        position: absolute;
        margin-left: 37.8vw;
        margin-right: auto;
    }
}

@media only screen and (orientation: portrait){
    .ban1{
        display: none;
    }
}

.img-areas {
    width: 230px;
    height: 230px;
    object-fit:cover;
    border-radius: 25px;
}

.areas-div{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 20px;
}

.areas-div:hover{
   background-color: rgba(255, 255, 255, 0.31);
   transition: background-color 0.5s;
}

.contato{
    background-color: #333;
    width: 100vw;
}

.contato-ctn{
    display: flex;
    justify-content: center;
}

.form{
    background-color: white;
    width: 45%;
    padding: 35px;
}

@media only screen and (max-width: 1299px){


    .img-portfolio2 {
        width: 350px;
    }
}

@media only screen and (max-width: 960px) and (orientation: portrait){
    .contato-ctn{
        flex-direction: column;
        justify-content: space-around;
    }

    .headertext{
        text-align: left;
    }

    .form{
        width: 100%;
    }

    .equipes{
        width: 84%;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .img-btn{
    margin: 15px;
    margin-left: -130px;
    width: 20px;
    height: auto;
    filter: invert(46%) sepia(25%) saturate(1088%) hue-rotate(61deg) brightness(99%) contrast(82%);
    }

    .img-areas2, .img-pagina {
        margin-left: -55px;
        width: 220px;
        height: 300px;
        padding: 0px;
        border-radius: 25px;
    }

    .br{
        display: none;
    }
    
    .br2{
        display: none;
    }
    .equipes p, .equipes h1,.equipe .equipes h2{
        text-align: center!important;
    }

    .equipes p{
        margin-left: -20px;
        margin-right: -20px;
        font-size: 0.57em;
        font-weight: 400;
        line-height: 1.3;
        color: #666666 !important;
        text-align: left!important;
    }

    .equipes .benny{
        text-align: center!important;
        font-size: 1.1em;
    }

    .br1{
        display: none;
    }

    .equipe .equipes h1{
        margin-top: 0px !important;
        font-size: 20px;
        line-height: 1.4;
    }

    .equipe .equipes h2{
        margin-left: 0px;
        margin-top: 0px !important;
        font-size: 20px;
        line-height: 1.4;
    }

    .areas-btn{
        position:static;
        bottom: 0;
        right: 0;
        color: white;
        background-color:#4e8e3a;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        font-size: 1.1em;
        width: 200px;
        padding: 15px;
        font-weight: bolder;
        text-transform: uppercase;
        text-align: center;
        border-radius: 25px;
        border: 0;
        cursor: pointer;
    }

    .obs{
        display:block;
    }
}

#equipe, #equipe1{
    position: absolute;
    top: 94vh;
}

.hospitais .grid, .hospitais .grid1, .hospitais .grid2, .hospitais .grid3{
    display: grid;
    gap: 2em;
    grid-template-columns: 350px;
    justify-content: center;
}

.hospitais figure{
    text-align: center;
}

@media only screen and (min-width: 1300px) {
    .hospitais .grid{
        grid-template-columns: repeat(3,350px);
        justify-content: center;
    }

    .hospitais .grid2{
        grid-template-columns: repeat(4,300px);
        justify-content: center;
    }

    .hospitais .grid1{
        grid-template-columns: repeat(2,300px);
        justify-content: center;
    }

    .hospitais .grid3{
        grid-template-columns: repeat(1,300px);
        justify-content: center;
    }

    .areas-folder{
        width: 60%;
        position: relative;
        left: 70px;
    }

    .img-areas2 {
        margin-left: 15px;
        width: 110%;
        height: 110%;
        padding: 15px;
        object-fit:cover;
        border-radius: 50px;
    }

    .equipe-folder .benny{
        position: relative;
        left: 70px;
        top: 70px;
        font-size: 1.5em;
    }
}

@media only screen and (max-height: 500px){

    .areas-btn{
        position:static;
        bottom: 0;
        right: 0;
        color: white;
        background-color:#4e8e3a;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        font-size: 1.1em;
        width: 200px;
        padding: 15px;
        font-weight: bolder;
        text-transform: uppercase;
        text-align: center;
        border-radius: 25px;
        border: 0;
        cursor: pointer;
    }

    .obs{
        display:block;
    }

    header{
        height: 200vh;
    }

    .back-div{
        height: 200vh;
    }

    #equipe, #equipe1{
    position: absolute;
    top: 190vh;
    }

    .img-btn{
        width: 30px;
        height: auto;
        filter: invert(46%) sepia(25%) saturate(1088%) hue-rotate(61deg) brightness(99%) contrast(82%);
    }
    
    .img-areas2, .img-pagina {
        margin-left: 0px;
        width: 80%;
        height: 130%;
        padding: 15px;
        object-fit:cover;
        border-radius: 25px;
    }
    
    .equipes p, .equipes h1,.equipe .equipes h2{
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
        text-align: left!important;
    }
    
    .equipes p{
        font-size: 0.70em;
        font-weight: 400;
        line-height: 1.5;
        color: #666666 !important;
    }

    .equipes .benny{
        font-size: 1.1em;
        margin-top: 50px;
        font-weight: 400;
        line-height: 1.5;
        color: #666666 !important;
    }

    .br1{
        display: none;
    }

    .br2{
        display: none;
    }
    
    .equipe .equipes h1{
        font-weight: bolder;
        margin-top: 0px !important;
        font-size: 25px;
        line-height: 1.4;
        color: black !important;
    }
    
    .equipe .equipes h2{
        margin-left: 0px;
        font-weight: lighter;
        margin-top: 0px !important;
        font-size: 20px;
        line-height: 1.4;
        color: #666666 !important;
    }

    .equipe .equipes .danny{
        
        font-size: 0.58em;
    }
}

.social{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: end;
    right: 0;
    top: 7rem;
    z-index: 2;
}

.socialbtn{
    height: 50px;
    width: auto;
    cursor: pointer;
    transition: height 0.2s;
    border-radius: 5px;
}

.socialbtn:hover{
    height: 55px;
}

